# Binaries
bin/
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary
*.test

# Output of go coverage
*.out

# Go workspace
go.work
go.work.sum

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Android
*.apk
*.aab
*.ap_
*.dex
*.class
bin/
gen/
out/
.gradle/
*.iml
.idea/
local.properties
build/
*.log

# Vendor
vendor/
